body {
            font-family: 'Open Sans', sans-serif;
            background-color: #BDB7D3;
            margin: 0;
            padding: 0;
        }
       .container {
            max-width: 600px;
            margin: 40px auto;
            padding: 20px;
            background-color: #fff;
            border: 1px solid #ddd;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
     
