h1::first-letter {
  color: #0d21cc;
  font-size: 8vw; /* Změna z pevné hodnoty na relativní, aby byl text konzistentní na různých rozlišeních */
}

p:hover {
  color: blueviolet;
}

p {
  width: max-content;
  text-align: center;
  margin: 0 auto;
}

body {
  background-color: #0c0e16;
  color: #fff;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  min-height: 100vh; /* Pro zajištění správného zobrazení na velkých obrazovkách */
}

.container {
  width: 50vw;
  margin: 10vh auto; /* Použití vh pro lepší vertikální rozložení na různých rozlišeních */
  padding: 20px;
  position: relative;
  text-align: center;
  align-items: center; 
  justify-content: center;
}

h1 {
  margin-top: 10vh; /* Změna z pevné hodnoty na vh, aby se lépe přizpůsobilo vertikální rozložení */
  font-size: 4vw; /* Použití relativních jednotek pro velikost textu */
  font-weight: bold;
  color: #fff;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.links {
  display: flex;
  flex-direction: column;
  margin-top: 5vh;
}

.links a {
  display: block;
  padding: 10px 2vw; /* Flexibilní padding podle šířky okna */
  font-size: 2vw; /* Relativní velikost písma */
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  background-color: #1d1f2b;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  transition: all 0.2s ease;
}

.links a:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  background-color: #2c2f3e;
}

.links a + a {
  margin-top: 1.5vh; /* Použití vh pro mezery mezi odkazy */
}

#number3 {
  background-image: url(https://cdn.wallpapersafari.com/86/86/A1wWjd.jpg);
  background-size: cover; /* Zajištění, že obrázek bude správně vyplňovat pozadí */
  background-position: center;
}

#signUpButton {
  display: block;
  padding: 10px 2vw;
  font-size: 2vw;
  font-weight: bold;
  color: #fff;
  background-color: #1d1f2b;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  transition: all 0.2s ease;
  border: none;
}

.topbuttons {
  position: absolute; 
  top: -7vh; /* Použití vh pro vertikální polohu */
  right: 1em;
  z-index: 100;
}

#signUpButton:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  background-color: #2c2f3e;
}

.background {
  background-image: url(https://i.pinimg.com/originals/ea/1d/97/ea1d9797c9bf3dda7a23b238e5e4b364.jpg);
  opacity: 70%;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
  background-size: cover; /* Zajištění, že pozadí bude pokrývat celou obrazovku */
  background-position: center;
}

.enabled {
  color: white;
  text-decoration: underline;
  cursor: pointer;
  opacity: 1;
  pointer-events: auto;
}

.disabled {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
  cursor: not-allowed;
  opacity: 0.5;
  pointer-events: none;
}
